*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background: #ccc;
}
p{
    font-family: 'loto',sans-serif;
    font-size: 24px;
}
nav{
    width: 100%;
    height: 80px;
    background: #16217ef2;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 0.3px solid #ccc;
    display: flex;
    justify-content: space-between;
}
nav #mark{
    width: 100px;
    height: 40px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 3px 2px  6px 9px dodgerblue;
    margin: 30px 20px 0px 0px;
    background: yellow;
}
nav h1{
    margin: 20px;
    font-size: 20px;
    font-family: sans-serif;
    color: whitesmoke;
}
menu{
    margin: 150px 20px 20px 30px;
    width: 80%;
    height: auto;
    padding: 30px;
    background: whitesmoke;
    border-radius: 20px 20px 0px 0px;
    font-family: 'loto',sans-serif;
    font-size: 16px;
}
menu p{
    margin: 30px;
}
menu li{
    margin: 40px;
    list-style: none;
    padding: 10px
}
menu li:hover{
    background: gray;
    cursor: pointer;
    width: 600px;
    border-radius: 10px;
    padding: 10px
}